<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!-- comma separated list of Forums to download.  Required. -->
    <add key="codePlexForums" value="compositewpf" />
    <!-- Page size to use for listing forum threads. Optional. Default is 100. -->
    <add key="pageSize" value="100" />
    <!-- Output folder to use when writing threads. Default is output. -->
    <add key="outputFolder" value="output"/>
    <!-- Log file to write results to. Results will also be written to the console. If this entry is null or missing then no log file will be created. -->
    <add key="logFileName" value="codeplex_discussion_download.log"></add>
  </appSettings>
</configuration>